
@{
    ViewBag.Title = "Index";
}

<section>
    <div class="wrapper">
        <div class="panel-content d-flex">
            <div class="panel-container">
                <div id="Informations" class="paneltab">
                    <p>
                        Some information about the product
                    </p>
                </div>
                <div id="AddCategory" class="paneltab">
                </div>
                <div id="AddProduct" class="paneltab">
                </div>
                <div id="Favourites" class="paneltab">
                    <p>
                        Some information about the product
                    </p>
                </div>
                <div id="Comments" class="paneltab">
                    <p>
                        Some information about the product
                    </p>
                </div>
            </div>
            <ul class="panellist">
                <li><a>Bilgilerim</a></li>
                <li><a href="/Admin/AddProduct">Ürün Ekleme</a></li>
                <li><a href="/Admin/AddCategory">Add Cagetory</a></li>
            </ul>
        </div>
    </div>
</section>
