* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --soft-black: #212121;
    --playfair: 'Playfair', serif;
    --banner-color: #F44336;
    --btn-color: #E53935;
    --btn-hover-color: #E57373;
}

/*BANNER START*/

.banner {
    background-color: var(--banner-color);
    padding: 0.3rem 0rem;
    width: 100%;
}

    .banner .banner-text {
        text-align: center;
    }

    .banner .banner-anchor {
        font-family: var(--playfair);
        font-weight: 600;
        color: rgba(0,0,0,0.9);
        letter-spacing: 1.5px;
        text-decoration: none;
    }

        .banner .banner-anchor:hover {
            border-bottom: 1.5px solid rgba(0,0,0,0.9);
            font-size: 1.05rem;
            transition: 0.5s ease;
        }

/*BANNER END*/

/*HEADER START*/

.header-padding {
    padding: 1rem 8rem;
}

.header-container {
    box-shadow: 0 0 2px 0 var(--soft-black);
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #fff;
    width: 100%;
}

.navigation {
    align-items: center;
}

.header-container .navigation {
    justify-content: space-between;
}

    .header-container .navigation .logo {
        color: var(--soft-black)
    }

    .header-container .navigation .menu ul li {
        list-style: none;
        padding: 0rem 0.5rem;
    }

        .header-container .navigation .menu ul li:hover {
            font-size: 1.05rem;
            transition: 0.5s ease;
        }

        .header-container .navigation .menu ul li a {
            text-decoration: none;
            color: var(--soft-black);
        }

            .header-container .navigation .menu ul li a:visited {
                color: var(--soft-black);
            }

    .header-container .navigation .menu a:hover {
        border-bottom: 1px solid var(--soft-black);
    }

    .header-container .navigation .menu .active-bottom {
        border-bottom: 1px solid var(--soft-black);
    }

    .header-container .navigation .menu .arrow {
        border: solid var(--soft-black);
        border-width: 0 1.5px 1.5px 0;
        display: inline-block;
        padding: 3px;
        margin: 0rem 0rem 0.14rem 0.23rem;
    }

    .header-container .navigation .menu .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    .header-container .navigation .icon-menu i {
        color: var(--soft-black);
    }

    .header-container .navigation .icon-menu ul li {
        list-style: none;
        padding: 0rem 0.5rem;
    }

    .header-container .navigation .icon-menu ul .shop-btn a .bag-dp-btn .quantity {
        position: absolute;
        background-color: var(--banner-color);
        color: #fff;
        font-size: 10px;
        border: 1px solid var(--banner-color);
        border-radius: 1rem;
        padding: 0.06rem 0.23rem;
        margin: -0.436rem 0rem 0rem -1.33rem;
        z-index: 1;
    }

.d-flex {
    display: flex;
}

.playfair {
    font-family: var(--playfair);
}

.resp-icon {
    display: none;
}

.mobile-logo {
    display: none;
}

.resp-x-icon {
    cursor: pointer;
    font-size: 1.3rem;
    color: var(--soft-black);
}

@media (max-width: 768px) {
    .header-padding {
        padding: 1rem 0rem;
    }

    .resp-icon {
        display: inline-block;
        color: var(--soft-black);
        cursor: pointer;
    }

    .header-container .navigation .menu {
        position: absolute;
        background-color: #fff;
        top: 0;
        min-height: 100vh;
        width: 70%;
        left: -100%;
        transition: 0.5s ease-in-out;
    }

        .header-container .navigation .menu ul li {
            padding: 0.3rem 0rem 0.3rem 0.44rem;
        }

        .header-container .navigation .menu.active {
            left: 0.01rem;
        }

        .header-container .navigation .menu .d-block {
            display: block;
        }

    .a-items {
        align-items: center;
    }

    .menu-btn-box {
        padding: 0.1rem 0.3rem 0rem 0.3rem;
    }

    .mobile-logo {
        display: inline-block;
        width: 95%;
    }

        .mobile-logo .inner-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 0rem 1rem 0.44rem;
        }

    .banner .banner-anchor {
        font-size: 9px;
    }

        .banner .banner-anchor:hover {
            border-bottom: 1px solid rgba(0,0,0,0.9);
            font-size: 10px;
            transition: 0.5s ease;
        }
}

/*HEADER END*/

/*DROPDOWN START*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        font-family: var(--playfair);
        color: var(--soft-black);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

.show {
    display: block;
}

#dp-li-item {
    padding: 0;
}

@media (max-width: 768px) {
    .dropdown-content {
        left: 0;
        min-width: 302px;
    }
}

/*DROPDOWN END*/

/*SEARCH BTN DROPDOWN START*/

.icon-menu .dropdown .search-dp-content {
    position: absolute;
    top: 250%;
    right: -30%;
    width: 17rem;
    height: 2rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0px 0px 25px 2px rgb(0 0 0 /75%);
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transition: 0.5s ease;
}

    .icon-menu .dropdown .search-dp-content.active {
        transform: scaleY(1);
    }

.icon-menu .dropdown .dp-btn {
    cursor: pointer;
}

.icon-menu .dropdown .search-dp-content i {
    cursor: pointer;
    font-size: 1rem;
    margin-right: 0.9rem;
    color: var(--soft-black);
}

.icon-menu .dropdown .search-dp-content .search-input {
    border: none;
    outline: none;
    margin-left: 0.4rem;
}

.icon-menu .dropdown .search-dp-content input[type=text] {
    width: 130px;
    -webkit-transition-: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

    .icon-menu .dropdown .search-dp-content input[type=text]:focus {
        width: 100%;
    }

/*SEARCH BTN DROPDOWN END*/

/*CART BTN DROPDOWN START*/

.icon-menu .dropdown .cart-content {
    position: absolute;
    top: 180%;
    right: 25%;
    min-height: 100vh;
    background-color: #fff;
    width: 13rem;
    box-shadow: 0px 20px 14px 0px rgb(0 0 0 / 75%);
    transform: scaleX(0);
    transition: 0.5s;
}

    .icon-menu .dropdown .cart-content.active {
        transform: scaleX(1);
    }

    .icon-menu .dropdown .cart-content .cart-item {
        position: relative;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
    }

#hoverable:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.icon-menu .dropdown .cart-content .cart-item .cart-close-icon {
    position: absolute;
    top: 0.5rem;
    right: 0.9rem;
    font-size: 1rem;
    cursor: pointer;
    color: var(--soft-black);
}

.icon-menu .dropdown .cart-content .item-content h3 {
    font-size: 1.1rem;
    color: var(--soft-black);
    padding-bottom: 0.25rem;
}

.icon-menu .dropdown .cart-content .item-content .cart-price {
    font-size: 0.9rem;
    color: var(--soft-black);
}

.icon-menu .dropdown .cart-content #buy-btn {
    position: absolute;
    display: grid;
    min-width: 100%;
    height: 2.5rem;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    text-align: center;
    align-items: center;
}

    .icon-menu .dropdown .cart-content #buy-btn:hover,
    .icon-menu .dropdown .cart-content #cart-btn:hover {
        opacity: 0.7;
    }

.icon-menu .dropdown .cart-content #cart-btn {
    margin-top: 2.7rem;
    position: absolute;
    display: grid;
    min-width: 100%;
    height: 2.5rem;
    background-color: var(--soft-black);
    color: #fff;
    text-decoration: none;
    text-align: center;
    align-items: center;
}

/*CART BTN DROPDOWN END*/

/*SECTİON START*/

.card-outer-container {
    margin: 0rem 7.45rem;
}

.card-inner-container {
    padding: 5rem 0rem;
    flex-wrap: wrap;
}

.card-content {
    flex: 25%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 23%;
    margin: auto;
    text-align: center;
    font-family: var(--playfair);
}

.price {
    color: var(--soft-black);
}

.card-content button {
    border: none;
    outline: 0;
    padding: 12px;
    color: #fff;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

    .card-content button:hover {
        opacity: 0.7;
    }

@media (max-width:768px) {
    .card-content {
        flex: 50%;
        max-width: 45%;
    }

    .card-outer-container {
        margin: 0rem 2rem;
    }
}

@media (max-width:425px) {
    .card-content {
        flex: 75%;
        max-width: 70%;
    }

    .card-outer-container {
        margin: 0rem 4rem;
    }
}

@media (max-width:376px) {
    .card-content {
        flex: 90%;
        max-width: 45%;
    }

    .card-outer-container {
        margin: 0rem 1.5rem;
    }
}

@media (max-width:321px) {
    .card-content {
        flex: 100%;
        max-width: 45%;
    }

    .card-outer-container {
        margin: 0rem 1rem;
    }
}

/*SECTİON END*/

/*PRODUCT DETAİL START*/

.wrapper .out-wrap .product-title-container {
    margin: 0rem 0rem 1rem 0rem;
}

    .wrapper .out-wrap .product-title-container .product-title {
        font-family: var(--playfair);
        text-align: center;
        font-size: 2rem;
        background-image: linear-gradient( -225deg, #F44336 0%, #E57373 29%, #B71C1C 49%, #D84315 100% );
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip 2s linear infinite;
    }

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}


.wrapper .out-wrap .in-wrap .img-content {
    width: 100%;
    height: 100%;
}

    .wrapper .out-wrap .in-wrap .img-content .img-size {
        width: 100%;
        height: 100%;
    }

.wrapper .out-wrap .in-wrap .img-info .row {
    margin: 0rem 0rem 1rem -0.16rem;
}

.wrapper .out-wrap .in-wrap .img-info .column {
    float: left;
    width: 20%;
    margin: 0rem 0.2rem;
}

    .wrapper .out-wrap .in-wrap .img-info .column img {
        opacity: 0.8;
        cursor: pointer;
    }

        .wrapper .out-wrap .in-wrap .img-info .column img:hover {
            opacity: 1;
        }

.wrapper .out-wrap .in-wrap .img-info .row:after {
    content: "";
    display: table;
    clear: both;
}

.wrapper .out-wrap .in-wrap .img-info {
    margin: 0rem 0rem 0rem 2rem;
    padding: 0rem 2rem;
    width: 100%;
}

    .wrapper .out-wrap .in-wrap .img-info h2 {
        font-size: 1.7rem;
        letter-spacing: 0.1rem;
    }

    .wrapper .out-wrap .in-wrap .img-info h4 {
        font-size: 1.5rem;
    }

    .wrapper .out-wrap .in-wrap .img-info #font-size {
        font-size: 1.2rem;
        padding: 0rem 0rem 1.2rem 0rem;
    }

    .wrapper .out-wrap .in-wrap .img-info div a {
        color: black;
        text-decoration: none;
        font-weight: 600;
        font-family: var(--playfair);
    }

    .wrapper .out-wrap .in-wrap .img-info i {
        color: #FFCA28;
    }

    .wrapper .out-wrap .in-wrap .img-info div #a-item-selector {
        padding: 0rem 0.5rem 0rem 0rem;
    }

.padding {
    padding: 0rem 0rem 2rem 0rem;
}

.wrapper .out-wrap .in-wrap .custom-select {
    position: relative;
    font-family: var(--playfair);
    width: 100%;
}

    .wrapper .out-wrap .in-wrap .custom-select select {
        display: none;
    }

.select-selected {
    border: 1px solid var(--soft-black);
    background-color: #fff;
}

    .select-selected:after {
        position: absolute;
        content: "";
        top: 14px;
        right: 10px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: var(--soft-black) transparent transparent transparent;
    }

    .select-selected .select-arrow-active:after {
        border-color: transparent transparent var(--soft-black) transparent;
        top: 7px;
    }

.select-items div, .select-selected {
    padding: 8px 16px;
    cursor: pointer;
}

.select-items {
    border-bottom: 1px solid var(--soft-black);
    border-left: 1px solid var(--soft-black);
    border-right: 1px solid var(--soft-black);
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid var(--soft-black);
}

.wrapper .out-wrap .in-wrap button {
    margin: 2.5rem 0rem 0rem 0rem;
    border: none;
    outline: 0;
    padding: 12px;
    color: #fff;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

    .wrapper .out-wrap .in-wrap button:hover {
        opacity: 0.7;
    }

.tablink {
    color: var(--soft-black);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 17px;
}

    .tablink:hover {
        background-color: #ddd;
        border-bottom: 1px solid var(--soft-black);
    }

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    background-color: #ddd;
    color: var(--soft-black);
    display: none;
    padding: 100px 20px;
    height: 100%;
}

.tabli {
    margin: 0.3rem 0.5rem 0rem 0rem;
}

@media (max-width: 768px) {
    .in-wrap {
        display: grid;
        grid-gap: 2rem;
    }

    .wrapper .out-wrap .in-wrap .img-info {
        margin: 0rem;
        padding: 0rem;
    }
}

/*PRODUCT DETAİL END*/

/*SLİDER START*/

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .active, .dot:hover {
        background-color: #717171;
    }

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/*SLİDER END*/

/*REGİSTER-LOGİN START*/

.wrapper {
    margin: 2rem 8rem;
}

    .wrapper .form-box {
        margin: 0rem 18rem;
        padding: 1rem 0rem;
    }

.form-box h2 {
    text-align: center;
    color: var(--soft-black);
    font-family: var(--playfair);
}

.wrapper .form-box .input-box {
    padding: 0.5rem 0rem;
}

    .wrapper .form-box .input-box input {
        width: 100%;
        padding: 6px;
        margin-top: 0.3rem;
        border: 1px solid var(--soft-black);
        border-radius: 2px;
    }

        .wrapper .form-box .input-box input:hover {
            outline: 1px solid var(--soft-black);
        }

    .wrapper .form-box .input-box label {
        font-family: var(--playfair);
        color: var(--soft-black);
        padding: 1rem 0rem;
    }

.wrapper .form-box .remember-forgot {
    justify-content: space-between;
}

    .wrapper .form-box .remember-forgot label {
        padding-left: 0.1rem;
    }

    .wrapper .form-box .remember-forgot a {
        color: var(--soft-black);
        text-decoration: none;
    }

        .wrapper .form-box .remember-forgot a:hover {
            border-bottom: 1px solid var(--soft-black);
        }

.wrapper .form-box .btn {
    width: 100%;
    background-color: var(--btn-color);
    border: none;
    border-radius: 0.3rem;
    color: #fff;
    padding: 0.5rem 0rem;
    cursor: pointer;
    margin: 0.5rem 0rem;
    transition: 0.3s ease;
}

    .wrapper .form-box .btn:hover {
        background-color: var(--btn-hover-color);
    }

.wrapper .form-box .login-register {
    text-align: center;
}

    .wrapper .form-box .login-register p,
    .wrapper .form-box .login-register .register-link,
    .wrapper .form-box .login-register .login-link {
        font-family: var(--playfair);
        text-decoration: none;
        color: var(--soft-black);
    }

.register-link, .login-link {
    font-weight: 600;
}

.wrapper .form-box .login-register .register-link:hover {
    color: var(--btn-color);
    text-decoration: underline;
}

.wrapper .form-box .login-register .login-link:hover {
    color: var(--btn-color);
    text-decoration: underline;
}

@media (min-width: 320px) {
    .wrapper {
        margin: 1rem 2rem;
    }

        .wrapper .form-box {
            margin: 0;
        }
}

@media (min-width: 767px) {
    .wrapper {
        margin: 1rem 8rem;
    }

        .wrapper .form-box {
            margin: 0;
        }
}

@media (min-width: 769px) {
    .wrapper {
        margin: 1rem 8rem;
    }

        .wrapper .form-box {
            margin: 0rem 8rem;
        }
}

@media (min-width: 1025px) {
    .wrapper {
        margin: 1rem 8rem;
    }

        .wrapper .form-box {
            margin: 0rem 14rem;
        }
}

/*REGİSTER-LOGİN END*/

/*USER PANEL START*/

.wrapper .panel-content .panel-container {
    border: 1px solid #ddd;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
}

    .wrapper .panel-content .panel-container .paneltab {
        height: 100%;
        width: 100%;
        display: none;
    }

        .wrapper .panel-content .panel-container .paneltab .box-model {
            display: flex;
            height: 100%;
            width: 100%;
            align-items: center;
            justify-content: center;
        }

            .wrapper .panel-content .panel-container .paneltab .box-model .register-model {
                padding: 1rem 0rem;
                height: auto;
                width: 60%;
            }

                .wrapper .panel-content .panel-container .paneltab .box-model .register-model h2 {
                    color: var(--soft-black);
                    font-family: var(--playfair);
                    margin: 0.5rem 0rem;
                    text-align: center;
                }

                .wrapper .panel-content .panel-container .paneltab .box-model .register-model .input-box {
                    padding: 0.5rem 0rem;
                }

                    .wrapper .panel-content .panel-container .paneltab .box-model .register-model .input-box input {
                        width: 100%;
                        padding: 6px;
                        margin-top: 0.3rem;
                        border: 1px solid var(--soft-black);
                        border-radius: 2px;
                    }

                    .wrapper .panel-content .panel-container .paneltab .box-model .register-model .input-box textarea {
                        width: 100%;
                        padding: 6px;
                        margin-top: 0.3rem;
                        border: 1px solid var(--soft-black);
                        border-radius: 2px;
                        resize: none;
                    }

                    .wrapper .panel-content .panel-container .paneltab .box-model .register-model .input-box input:hover {
                        outline: 1px solid var(--soft-black);
                    }

                    .wrapper .panel-content .panel-container .paneltab .box-model .register-model .input-box textarea:hover {
                        outline: 1px solid var(--soft-black);
                    }

                    .wrapper .panel-content .panel-container .paneltab .box-model .register-model .input-box label {
                        font-family: var(--playfair);
                        color: var(--soft-black);
                        padding: 1rem 0rem;
                    }

                .wrapper .panel-content .panel-container .paneltab .box-model .register-model .btn {
                    width: 100%;
                    background-color: var(--btn-color);
                    border: none;
                    border-radius: 0.3rem;
                    color: #fff;
                    padding: 0.5rem 0rem;
                    cursor: pointer;
                    margin: 0.5rem 0rem;
                    transition: 0.3s ease;
                }

                    .wrapper .panel-content .panel-container .paneltab .box-model .register-model .btn:hover {
                        background-color: var(--btn-hover-color);
                    }

.wrapper .panel-content .panellist {
    display: grid;
    justify-content: space-between;
    align-items: center;
    height: 25vw;
    margin: 0rem 0rem 0rem 0.1rem;
}

    .wrapper .panel-content .panellist li button {
        border: none;
        background-color: #fff;
        width: 100%;
        padding: 1rem 1rem;
        cursor: pointer
    }

        .wrapper .panel-content .panellist li button:hover {
            background-color: #ddd;
            border-bottom: 1px solid var(--soft-black);
        }

    .wrapper .panel-content .panellist li #active-button {
        border-bottom: 1px solid var(--soft-black);
    }

@media (max-width: 1024px) {
    .wrapper .panel-content {
        display: grid;
    }

        .wrapper .panel-content .panellist {
            display: flex;
            order: 1;
        }

            .wrapper .panel-content .panellist li button {
                padding: 1rem 0rem;
                font-size: 0.6rem;
            }

        .wrapper .panel-content .panel-container {
            order: 2;
        }
}

/*USER PANEL END*/

/*CART START*/

.cart-title {
    color: var(--soft-black);
    font-size: 32px;
}

.wrapper .cart-wrap {
    border: 1px solid var(--soft-black);
    border-radius: 0.5rem;
    width: 75%;
}

    .wrapper .cart-wrap ul .cart-items {
        padding: 1rem 1rem;
        justify-content: space-between;
        align-items: center;
    }

        .wrapper .cart-wrap ul .cart-items .items-content {
            width: 100%;
            padding: 2rem 1rem;
            display: flex;
            justify-content: space-between;
        }

            .wrapper .cart-wrap ul .cart-items .items-content a {
                color: var(--soft-black)
            }

                .wrapper .cart-wrap ul .cart-items .items-content a p {
                    padding: 3px 0px 0px 10px;
                }

            .wrapper .cart-wrap ul .cart-items .items-content .cart-x-btn {
                border: none;
                background-color: #fff;
                cursor: pointer;
            }

        .wrapper .cart-wrap ul .cart-items .quantity {
            border: 1px solid var(--soft-black);
            border-radius: 0.5rem;
        }

            .wrapper .cart-wrap ul .cart-items .quantity .cart-btn-left {
                border-right: 1px solid var(--soft-black);
                cursor: pointer;
                padding: 0.4rem 0.4rem;
            }

            .wrapper .cart-wrap ul .cart-items .quantity .quantity-count {
                padding: 0.9rem 0.9rem;
            }

            .wrapper .cart-wrap ul .cart-items .quantity .cart-btn-right {
                border-left: 1px solid var(--soft-black);
                cursor: pointer;
                padding: 0.4rem 0.4rem;
            }

.wrapper .sum-wrap {
    width: 25%;
    margin: 0rem 0rem 0rem 0.6rem;
}

    .wrapper .sum-wrap .summary {
        width: 100%;
        border: 1px solid var(--soft-black);
        border-radius: 0.5rem;
    }

        .wrapper .sum-wrap .summary h4 {
            margin: 0.5rem 0.5rem;
        }

        .wrapper .sum-wrap .summary .line hr {
            margin: 0rem 0.5rem;
        }

        .wrapper .sum-wrap .summary .summary-content {
            justify-content: space-between;
            padding: 0.5rem 0.5rem;
        }

    .wrapper .sum-wrap #buy-btn {
        display: grid;
        width: 100%;
        margin: 0.5rem 0rem 0rem 0rem;
        border-radius: 0.5rem;
        height: 2.5rem;
        background-color: #000;
        color: #fff;
        text-align: center;
        align-items: center;
    }

        .wrapper .sum-wrap #buy-btn:hover {
            opacity: 0.7;
        }

@media (max-width: 768px) {
    .wrapper .cart-wrap {
        width: 80%;
    }

    .wrapper .sum-wrap {
        width: 20%;
    }

    .wrapper .cart-wrap ul .cart-items {
        padding: 1rem 0.3rem;
    }

        .wrapper .cart-wrap ul .cart-items img {
            width: 60px;
        }

        .wrapper .cart-wrap ul .cart-items .items-content {
            padding: 0;
        }

            .wrapper .cart-wrap ul .cart-items .items-content a {
                display: grid;
                align-items: center;
            }

                .wrapper .cart-wrap ul .cart-items .items-content a h3 {
                    font-size: 12px;
                }

                .wrapper .cart-wrap ul .cart-items .items-content a p {
                    padding: 0;
                    font-size: 10px;
                }

        .wrapper .cart-wrap ul .cart-items .quantity .cart-btn-left {
            padding: 0.2rem 0.2rem;
            font-size: 10px;
        }

        .wrapper .cart-wrap ul .cart-items .quantity .quantity-count {
            padding: 0.6rem 0.6rem;
            font-size: 8px;
        }

        .wrapper .cart-wrap ul .cart-items .quantity .cart-btn-right {
            padding: 0.2rem 0.2rem;
            font-size: 10px;
        }

    .wrapper .cart-wrap ul .cart-price {
        font-size: 10px;
        align-self: center;
    }

    .wrapper .sum-wrap .summary h4 {
        font-size: 10px
    }

    .wrapper .sum-wrap .summary .summary-content p {
        font-size: 9px
    }

    .wrapper .sum-wrap .summary .summary-content span {
        font-size: 9px;
    }
}
/*CART END*/

/*FOOTER START*/

.footer-container {
    bottom: 0;
    height: 17rem;
    background-color: #000000;
    width: 100%;
}

    .footer-container .outer-container .f-inner-container {
        justify-content: space-evenly;
    }

        .footer-container .outer-container .f-inner-container .column {
            padding: 1.6rem 0.9rem;
        }

            .footer-container .outer-container .f-inner-container
            .column .column-header {
                color: #fff;
                font-family: var(--playfair);
            }

            .footer-container .outer-container .f-inner-container
            .column ul {
                padding: 1rem 0rem 0rem 0rem;
            }

                .footer-container .outer-container .f-inner-container
                .column ul li {
                    list-style: none;
                    color: #fff;
                    padding: 0.3rem 0rem;
                }

#footer-a-item {
    text-decoration: none;
    color: #fff;
    font-family: var(--playfair);
}

    #footer-a-item:hover {
        border-bottom: 1px solid #fff;
    }

#li-icon-item {
    padding: 0rem 0.4rem 0rem 0rem;
}

.icon-a-item {
    color: #fff;
    font-size: 1.3rem;
}

#youtube:hover {
    color: #C62828;
}

#instagram:hover {
    color: #F50057;
}

#twitter:hover {
    color: #2196F3;
}

#facebook:hover {
    color: #0D47A1;
}

@media (max-width: 768px) {
    .column-header {
        font-size: 0.8rem;
    }

    .footer-container .outer-container .f-inner-container
    .column ul li {
        font-size: 0.7rem;
    }

    .icon-a-item {
        font-size: 0.8rem;
    }

    .footer-container .outer-container .f-inner-container .column {
        padding: 0.5rem 0.3rem;
    }

    .footer-container .outer-container .f-inner-container {
        justify-content: space-between;
    }
}

/*FOOTER END*/
