<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CSS HERE-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/Content/Css/style.css" rel="stylesheet" type="text/css">
    <title>E-SHOPPİNG</title>
</head>
<body>
    <div class="banner">
        <p class="banner-text"><a href="#" class="banner-anchor">NEW SEASON COLLECTİONS SPECİAL OFFER SALE UP TO 50%</a></p>
    </div>
    <header class="header-container header-padding">
        <nav class="navigation d-flex">
            <div class="d-flex a-items">
                <span class="menu-btn-box"><i class="fa-solid fa-bars resp-icon"></i></span>
                <h2 class="logo playfair">LOGO</h2>
            </div>
            <div class="menu" id="myId">
                <ul class="d-flex d-block">
                    <div class="mobile-logo">
                        <div class="inner-container">
                            <h2 class="logo playfair">LOGO</h2>
                            <span class="resp-x-icon"><i class="fa-solid fa-xmark"></i></span>
                        </div>
                    </div>
                    <li><a class="playfair active-bottom" href="/Home/Index">HOME</i></a></li>
                    <li><a class="playfair" href="/Home/Shop">SHOP<i class="arrow down"></i></a></li>
                    <li><a class="playfair" href="#">BLOG</a></li>
                    <li class="dropdown">
                        <a class="playfair" href="#" onclick="imaFunction()" class="drop-btn">CATEGORİES<i class="arrow down"></i></a>
                        <div class="dropdown-content" id="iamDropdown">
                            <ul>
                                @Html.Action("Categories", "Home")
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="icon-menu">
                <ul class="d-flex">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a href="#" onclick="imFunction()" class="drop-txt"><i class="fa-regular fa-user"></i></a>
                            <div class="dropdown-content" id="imDropdown">
                                <ul>
                                    @if (User.IsInRole("admin"))
                                    {
                                        <li id="dp-li-item"><a href="/Admin/Index">Admin Panel</a></li>
                                        <li id="dp-li-item"><a href="/Account/Logout">Logout</a></li>
                                    }
                                    else
                                    {
                                        <li id="dp-li-item"><a href="/User/Index">Bilgilerim</a></li>
                                        <li id="dp-li-item"><a>Siparişlerim</a></li>
                                        <li id="dp-li-item"><a href="/Account/Logout">Logout</a></li>
                                    }
                                </ul>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li><a href="/Account/Login"><i class="fa-regular fa-user"></i></a></li>
                        <li class="dropdown">
                            <i class="fa-solid fa-magnifying-glass dp-btn"></i>
                            <div class="search-dp-content">
                                <input class="search-input" type="text" placeholder="New collection men fashion or etc.">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div>
                        </li>
                        <li><a href="/Account/Login"><i class="fa-regular fa-heart"></i></a></li>
                    }
                    <li class="dropdown shop-btn">
                        @Html.Action("Quantity", "Cart")
                        <div class="cart-content">
                            <ul>
                                @Html.Action("Cart", "Cart")
                                <a href="#" id="buy-btn" class="playfair">Buy Now</a>
                                <a href="/Cart/Index" id="cart-btn" class="playfair">Go To Cart</a>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    @RenderBody()
    <footer class="footer-container">
        <div class="outer-container">
            <div class="f-inner-container d-flex">
                <div class="column">
                    <h5 class="column-header">LOGO</h5>
                    <ul>
                        <li><a id="footer-a-item" href="#">Who We Are?</a></li>
                        <li><a id="footer-a-item" href="#">Carreers</a></li>
                        <li><a id="footer-a-item" href="#">Contact Us</a></li>
                        <li><a id="footer-a-item" href="#">Sell On Our Website</a></li>
                        <h5 class="column-header">Safe Shopping</h5>
                    </ul>
                </div>
                <div class="column">
                    <h5 class="column-header">PARTNERSHİPS</h5>
                    <ul>
                        <li><a id="footer-a-item" href="#">First Partnership</a></li>
                        <li><a id="footer-a-item" href="#">Second Partnership</a></li>
                        <li><a id="footer-a-item" href="#">Third Partnership</a></li>
                        <li><a id="footer-a-item" href="#">Fourth Partnership</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h5 class="column-header">SOCIAL MEDIAS</h5>
                    <ul>
                        <li><a id="footer-a-item" href="#">Youtube</a></li>
                        <li><a id="footer-a-item" href="#">Instagram</a></li>
                        <li><a id="footer-a-item" href="#">Twitter</a></li>
                        <li><a id="footer-a-item" href="#">Facebook</a></li>
                    </ul>
                    <div class="icons-container">
                        <div class="icons-in-container">
                            <ul class="d-flex">
                                <li id="li-icon-item"><a class="icon-a-item" id="youtube" href="#"><i class="fa-brands fa-youtube"></i></a></li>
                                <li id="li-icon-item"><a class="icon-a-item" id="instagram" href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                <li id="li-icon-item"><a class="icon-a-item" id="twitter" href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                <li id="li-icon-item"><a class="icon-a-item" id="facebook" href="#"><i class="fa-brands fa-facebook"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <h5 class="column-header">HELP</h5>
                    <ul>
                        <li><a id="footer-a-item" href="#">Questions</a></li>
                        <li><a id="footer-a-item" href="#">Live Help</a></li>
                        <li><a id="footer-a-item" href="#">How To Return Back</a></li>
                        <li><a id="footer-a-item" href="#">Process Guide</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/Content/Js/script.js"></script>
</body>
</html>