@model IEnumerable<OnlineShoppingMVC.Models.UserOrderViewModel>

<div class="wrapper">
    <div>
        <h4>Orders</h4>
        <table>
            <thead>
                <tr>
                    <th>Order Number</th>
                    <th>Order Date</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.OrderNumber</td>
                        <td>@item.OrderDate.ToShortDateString()</td>
                        <td>@item.Total</td>
                        <td>@item.OrderState</td>
                        <td>
                            <a href="/User/Details/@item.Id">Go To Detail Page</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
